/.env.local
/.env.*.local
/.env.local.php
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/
/public/bundles/
.phpunit.result.cache

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
